.articles {
  font-family: $type-content;
  margin: $std-size;
}

.article-features {
  display: flex;
  width: $content-width;
  margin: 0 auto;
  justify-content: space-between;

  .main-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    width: 50%;

    .main-feature-content {
      background: $grey3;
      flex: 1;
      padding: $space;
      margin-right: $sm-space;
    }
  }

  .secondary-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;

    .secondary-feature-content {
      background: $grey3;
      flex: 1;
      min-width: 35%;
      padding: $space;

      &:nth-child(1) {
        margin-bottom: $sm-space;
        margin-right: $sm-space;
      }

      &:nth-child(2) {
        margin-bottom: $sm-space;
      }

      &:nth-child(3) {
        margin-right: $sm-space;
      }
    }
  }
}

.article-feed {
  display: flex;
  flex-direction: column;
  width: $content-width;
  margin: $std-size auto;
}
