.articles {
  font-family: $type-content;
}

.landmark {
  font-weight: 700;
  display: block;
  margin: 0 auto $space;
  width: 960px;

  svg {
    color: $grey3;
    margin-right: $sm-space;
  }
}

.article-feature-container {
  width: 100%;
  background: rgba($primary, .5);
  padding: $lg-space 0 50px;
}

.article-features {
  display: flex;
  width: $content-width;
  margin: 0 auto;
  justify-content: space-between;

  .article-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .article-feature-content {
      flex: 1;

      .article-image {
        overflow: hidden;
        width: 100%;

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }

      .article-info {
        color: white;
        position: absolute;
        z-index: 2;
        bottom: $lg-space;
        left: $lg-space;

        svg {
          font-size: .85em;
          margin-left: $sm-space;
          vertical-align: baseline;
        }
      }
    }

    a {
      display: block;
      position: relative;
    }
  }

  .main-feature {
    min-height: 100%;
    width: 50%;

    .main-feature-content {
      margin-right: $sm-space;

      .article-image {
        height: 350px;
      }
    }
  }

  .secondary-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;

    .secondary-feature-content {
      background: $grey3;
      flex: 1;
      min-width: 35%;

      .article-image {
        height: 171px;
      }

      .article-info {
        h4 {
          margin-bottom: 0;
        }
      }

      &:nth-child(1) {
        margin-bottom: $sm-space;
        margin-right: $sm-space;
      }

      &:nth-child(2) {
        margin-bottom: $sm-space;
      }

      &:nth-child(3) {
        margin-right: $sm-space;
      }
    }
  }
}

.article-feed {
  display: flex;
  flex-direction: column;
  width: $content-width;
  margin: $std-size auto;

  .articles {
    margin-top: 50px;
  }
}

.article-snippet {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &:hover {
    .article-body {
      background: rgba($primary, .1);
    }
  }

  h2 {
    font-weight: 500;
    margin-top: 0;
  }

  p > a {
    font-size: .85em;
    margin-left: .5em;
    text-decoration: underline;
  }

  a {
    text-decoration: none;

    h2, p {
      color: $content;
    }

    svg {
      margin-left: $sm-space;
    }
  }

  p {
    margin-bottom: 0;
  }

  .article-meta {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 180px;
    min-width: 180px;
    border-top: 2px solid $primary;
    padding-top: 1.5em;
    margin-right: 2em;
  }

  .article-body {
    padding: $space;
  }
}
