.bio {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  margin-top: 2em;
  max-width: 1200px;
  width: 100%;

  .bio-content {
    h1 {
      font-family: $type-content;
      font-weight: 700;
      margin-bottom: 0;
    }

    .gallery {
      width: 750px;
      height: 230px;
      display: flex;
      flex-direction: row;
      margin-top: 2em;

      .image {
        margin-right: 1em;
        width: 33%;

        &:last-child {
          margin-right: 0;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;

          &.caption {
            margin-bottom: 1em;
          }

          &.left {
            object-position: left;
          }
        }
      }
    }
  }
}

.inline {
  margin: 0 2em 2em 0;
}
