.bio {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  margin-top: 2em;
  max-width: 1200px;
  width: 100%;

  @media screen and (max-width: $small) {
    flex-direction: column;
    max-width: 90vw;
  }

  .bio-content {
    h1 {
      font-family: $type-content;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
}

.inline {
  margin: 0 2em 0 0;

  @media screen and (max-width: $small) {
    margin: 0 auto 2em;
    width: 100%;
    max-width: 100%;

    img {
      height: 200px;
      object-position: 0 -100px;
      object-fit: cover;
      width: 100%;
    }
  }
}

@keyframes highlight {
  0% {
    width: 30px;
  }

  100% {
    width: 100%;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  font-family: $type-content;
  justify-content: flex-start;
  margin-top: 2em;
  margin-bottom: 4em;
  max-width: 1200px;
  position: relative;
  width: 100%;

  @media screen and (max-width: $small) {
    width: 90vw;
  }

  h2 {
    font-weight: 500;
  }

  .timeline-content {
    display: flex;
    position: relative;
  }

  .detail {
    background: rgba($primary, .20);
    border-radius: 10px;
    border: 1px solid $primary;
    height: fit-content;
    margin-left: 1em;
    margin-top: 2em;
    max-height: 65vh;
    min-width: 600px;
    overflow-y: scroll;
    overflow-y: scroll;
    padding: $space;
    position: sticky;
    top: 80px;
    width: 600px;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-dark; 
    }

    button {
      align-items: center;
      background-color: transparent;
      border: none;
      color: $primary-dark;
      cursor: pointer;
      display: flex;
      justify-content: center;
      opacity: .75;
      padding: .5em 1em;
      position: absolute;
      right: 0;
      top: .5em;

      svg {
        font-size: 1.25em;
        padding-left: .25em;
      }
      
      &:hover {
        background-color: rgba($primary, .30);
        opacity: 1;
      }

      &:focus {
        outline: none;
      }
    }

    h3 {
      margin-top: 0;
    }

    p {
      color: $content;

      &:last-child {
        margin-bottom: 0;
      }
    }

    img {
      height: 300px;
    }
  }

  .path {
    background: rgba($grey3, .25);
    height: 100%;
    left: 1em;
    position: absolute;
    top: 0;
    width: 4px;
    z-index: -1;
  }

  .year-section {
    margin-bottom: 2em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    max-width: 430px;
    padding: 0;
    z-index: 1;
    width: 430px;

    li {
      align-items: baseline;
      display: flex;
      flex-wrap: nowrap;
      line-height: 1.5em;
      margin-bottom: 1.5em;
      position: relative;

      &.active {
        background: rgba($primary, .20);
        border-radius: 30px;

        &.more-info {
          &::after {
            color: $primary-dark;
          }
        }
      }

      .more {
        align-self: center;
        color: $primary-dark;
        margin-left: auto;
        padding-top: 5px;
        padding-right: 10px;
        text-align: center;
        transform: scale(1);
        transition: transform 200ms ease;
      }

      &.more-info {
        &:hover {
          cursor: pointer;

          .more {
            transform: scale(1.3);
            transition: transform 200ms ease;
          }

          &::after {
            animation: highlight 300ms linear;
            background: rgba($primary, .20);
            border-radius: 30px;
            display: block;
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
          }
        }
      }

      &::before {
        align-items: center;
        align-self: center;
        background: darken($primary, 10%);
        border-radius: 30px;
        color: $grey3;
        display: inline-flex;
        font-family: $icon;
        height: 30px;
        justify-content: center;
        margin-right: 1em;
        min-width: 30px;
        padding: .25em;
        width: 30px;
        z-index: 1;
      }

      .event {
        display: inline-block;
        max-width: 300px;
        align-self: center;
      }

      &.year-title {
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: .5em;
        margin-top: 1em;
        padding-left: 55px;
        display: block;
      }

      &.job {
        &::before {
          background: $color1;
          content: '\f109';
          font-weight: 700;
        }
      }

      &.education {
        &::before {
          background: $color2;
          content: '\f19d';
          font-weight: 700;
        }
      }

      &.community {
        &::before {
          background: $color4;
          content: '\f4c3';
          font-weight: 100;
        }
      }

      &.speaker {
        &::before {
          background: $color3;
          content: '\f3c9';
          font-weight: 700;
        }
      }
    }
  }
}
