.creative {
  font-family: $type-content;
  margin-bottom: 100px;
}

.creative-header {
  margin: 0 auto 50px;
  max-width: 1200px;
  text-align: center;

  .header-image {
    display: block;
    height: 300px;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  h1 {
    color: $grey1;
    margin: 2em auto .5em;

    .pop {
      color: $primary;
      font-family: $type-headline;
    }
  }

  ul {
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 600px;

    a {
      color: $grey1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding-bottom: 1em;
      width: 100px;
      height: 60px;
      transition: transform 200ms ease;

      &.active {
        border-bottom: 2px solid $primary;
      }

      &:hover {
        font-weight: 700;
        transform: scale(1.1);
        transition: transform 200ms ease;
      }

      svg {
        color: $primary;
        margin-bottom: .5em;
      }
    }
  }
}

.creative-features {
  margin: 0 auto;
  width: 1200px;

  .landmark {
    margin-left: 0;
  }

  .featured-project {
    display: flex;
    margin-top: 3em;

    .image {
      height: 200px;
      margin-right: 2em;
      min-width: 400px;
      width: 400px;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .feature-summary {
      .title {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        h2 {
          margin: 0;
        }

        .tag {
          color: $primary-dark;
          font-size: .85em;
          font-weight: 700;
        }
      }

    }
  }
}

.creative-body-container {
  width: 1200px;
  max-width: 90vw;
  margin: 0 auto;

  .creative-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .creative-nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 1em;
      }
    }
  }
}
