@import-normalize;
@import 'variables.scss';
@import 'utility.scss';
@import 'home.scss';
@import 'portfolio.scss';
@import 'media-queries.scss';

html, body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, p {
  font-family: $type-content;
}

p {
  line-height: $lg-space;
}

h1, h2 {
  font-weight: 300;
}

.nav-container {
  @media screen and (max-width: $small) {
    position: absolute;
    right: 0;
  }
}

.nav {
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 100%;
  align-items: center;
  display: flex;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  margin-right: 2em;
  text-align: left;

  @media screen and (max-width: $small) {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-right: 0;
    background: white;
    padding-top: .5em;

    a {
      &:first-child {
        padding-left: 1em;
      }
    }
  }

  a {
    background: transparent;
    color: $grey1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    transition: all 300ms ease;
    border-bottom: 4px solid transparent;
    text-decoration: none;

    @media screen and (max-width: 500px) {
      &:first-child {
        padding-left: 2em;
      }

      &:last-child {
        padding-right: 2em;
      }
    }

    @media screen and (min-width: 500px) and (max-width: $small) {
      &:first-child {
        padding-left: 1em;
      }
    }

    @media screen and (min-width: ($small + 1)) {
      padding: 0 1.5em;
    }

    &:hover {
      background: rgba($primary, .3);
      color: darken($primary, 20%);
      transition: all 300ms ease;
    }

    &.active {
      border-bottom: 4px solid $primary;
    }
  }
}

.brand {
  font-size: 20px;

  @media screen and (max-width: $small) {
    min-width: 130px;
    margin-left: .5em;
  }

  a {
    color: $grey1;
    text-decoration: none;
  }
}

.header {
  align-items: center;
  background: white;
  display: flex;
  font-family: $type-content;
  height: 50px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;
}

.container {
  margin: 0 auto;
  max-width: $large;
}

.arrow-link {
  text-decoration: none;
  font-weight: 500;
  color: $content;

  &.block {
    display: block;
    margin-top: 2em;
  }

  svg {
    font-size: 1.5em;
    vertical-align: middle;
    padding-left: .25em;
    color: $primary;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  height: 50px;
  background: white;
  align-items: center;
  font-size: 1.25em;
  color: $grey3;
  bottom: 0;
  z-index: 5;
  position: sticky;

  svg {
    margin-left: .75em;
  }

  a {
    svg {
      color: $grey3;
      transition: all 300ms ease;
    }

    &:hover {
      .github {
        color: $github;
      }

      .twitter {
        color: $twitter;
      }

      .instagram {
        color: $instagram;
      }

      .linkedin {
        color: $linkedin;
      }
    }
  }

  .follow-links {
    justify-self: flex-end;
    padding-right: 50px;
    margin-left: auto;
  }
}

.top-scroll {
  align-items: center;
  color: $content;
  cursor: pointer;
  font-family: $type-content;
  font-size: .85em;
  height: 40px;
  justify-self: center;
  left: 45vw;
  position: sticky;

  &:hover {
    svg {
      color: $primary;
    }
  }
}
