@import-normalize;
@import 'variables.scss';
@import 'utility.scss';
@import 'home.scss';
@import 'portfolio.scss';

html, body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, p {
  font-family: $type-content;
}

p {
  line-height: $lg-space;
}

h1, h2 {
  font-weight: 300;
}

.nav {
  a {
    margin-left: $std-size;
  }
}

.brand {
  font-size: 20px;
}

.header {
  align-items: center;
  background: white;
  display: flex;
  font-family: $type-content;
  height: 50px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5;

  a {
    color: $grey1;
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  max-width: $large;
}

.arrow-link {
  text-decoration: none;
  font-weight: 500;
  color: $content;

  &.block {
    display: block;
    margin-top: 2em;
  }

  svg {
    font-size: 1.5em;
    vertical-align: middle;
    padding-left: .25em;
    color: $primary;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  height: 50px;
  background: white;
  align-items: center;
  font-size: 1.25em;
  color: $grey3;
  bottom: 0;
  z-index: 5;
  position: sticky;

  svg {
    margin-left: .75em;
  }

  a {
    svg {
      color: $grey3;
      transition: all 300ms ease;
    }

    &:hover {
      .github {
        color: $github;
      }

      .twitter {
        color: $twitter;
      }

      .instagram {
        color: $instagram;
      }

      .linkedin {
        color: $linkedin;
      }
    }
  }

  .follow-links {
    justify-self: flex-end;
    padding-right: 50px;
    margin-left: auto;
  }
}

.top-scroll {
  align-items: center;
  color: $content;
  cursor: pointer;
  font-family: $type-content;
  font-size: .85em;
  height: 40px;
  justify-self: center;
  left: 45vw;
  position: sticky;

  &:hover {
    svg {
      color: $primary;
    }
  }
}
