.hero {
  background-color: $primary;
  position: relative;
  
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    position: absolute;
    z-index: 2;
    
    h1 {
      color: white;
      font-family: $type-headline;
      font-weight: 300;
    }
  }

  .scroll {
    bottom: 1em;
    color: white;
    font-size: 2.5em;
    left: 50%;
    position: absolute;
  }

  .pop {
    color: $grey1;
  }

  @media screen and (max-width: $small) {
    height: 30vh;

    h1 {
      font-size: 2.25em;
      margin: 0 1em;
      text-align: center;
    }

    .content {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (min-width: $small) {
    h1 {
      margin-bottom: 2.5em;
    }

    .content {
      align-items: flex-end;
      justify-content: flex-end;
      max-width: $large;
      right: 3em;
    }
  }

  @media screen and (min-width: ($small + 1)) and (max-width: $medium) {
    height: 40vh;

    h1 {
      font-size: 3em;
    }
  }

  @media screen and (min-width: ($medium)) {
    height: 80vh;
    min-height: 650px;

    h1 {
      font-size: 4em;
    }
  }
}

.tri-large {
  opacity: .25;
  position: absolute;
  top: 3em;
  left: 3em;
  width: 75%;
  z-index: 1;
}

.tri-small {
  max-height: 350px;
  max-width: 250px;
  margin-bottom: 3em;
}
