.portfolio {
  &.highlights {
    margin-top: 3em;
  }

  a {
    display: block;
    position: relative;
  }

  .image {
    width:100%;
    height:300px;
    overflow:hidden;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .caption {
    bottom: 2em;
    left: 2em;

    &span {
      font-size: .85em;
    }
  }
}

.project-content {
  h1 {
    font-family: $type-headline;
    margin: .5em 0;
  }

  h2 {
    font-family: $type-content;
    font-weight: 500;
  }
}

.project-title {
  height: 400px;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .title-content {
    color: white;
    position: absolute;
    bottom: $std-size;
    left: $std-size;
    z-index: 3;
  }
}


.tags {
  font-family: $type-content;
  font-size: 1em;
  font-weight: 500;
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    font-style: italic;
    padding-right: 1em;
  }
}

.headline {
  .overlay {
    text-align: center;

    h3 {
      font-family: $type-content;
      font-size: 1.5em;
      font-weight: 300;
    }

    h2 {
      font-family: $type-headline;
      font-size: 2.25em;
      line-height: 1.25em;
      max-width: 600px;
      white-space: pre-wrap;
    }

    a, svg {
      color: white;
    }
  }
}

.headline-image {
  width:100%;
  height:80vh;
  overflow:hidden;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
