
.portfolio {
  a {
    display: block;
    position: relative;
  }

  .image {
    width:100%;
    height:300px;
    overflow:hidden;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .caption {
    bottom: 2em;
    left: 2em;
  }
}

.headline {
  .overlay {
    text-align: center;

    h3 {
      font-family: $type-content;
      font-size: 1.5em;
      font-weight: 300;
    }

    h2 {
      font-family: $type-headline;
      font-size: 2.25em;
      line-height: 1.25em;
      max-width: 600px;
      white-space: pre-wrap;
    }

    a, svg {
      color: white;
    }
  }
}

.headline-image {
  width:100%;
  height:100%;
  overflow:hidden;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
