.row {
  flex-direction: row;
}

.flex {
  display: flex;
}

.feature {
  &.light {
    background-color: $light1;
  }

  &.dark {
    background-color: $grey3;
  }
}

.feature-width {
  margin-right: 50px;
  margin-left: 50px;
}

.feature-height {
  height: 80vh;
  max-height: 750px;
}

.full-height {
  height: 100vh;
}

.section-divider {
  background-color: $primary;
  bottom: 0;
  height: 1px;
  margin: 0 auto;
  position: absolute;
  width: $content-width;
}

.columns {
  align-items: flex-start;
  display: inline-flex;
  flex-wrap: wrap;

  .column {
    flex: 1;
    background: $grey3;
    min-width: 30%;
    overflow: hidden;
  }
}

.filter {
  &.bottom {
    &::after {
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      height: 120px;
    }
  }

  &.middle {
    &::after {
      background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      height: 100%;
    }
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: height 200ms ease;
    z-index: 2;
  }

  &.image {
    &:hover {
      &::after {
        bottom: 0;
        height: 100%;
      }
    }
  }

  &:hover {
    &::after {
      transition: height 200ms ease;
    }
  }
}

.feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;

  &.center {
    justify-content: center;
  }

  &.top {
    padding-top: 100px;
  }

  .pop {
    color: $primary;
    font-family: $type-pop;
    font-size: 1.75em;
    font-weight: 300;
  }

  .overlay {
    color: white;
    position: absolute;
    z-index: 4;
  }

  .feature-content {
    width: $content-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-family: $type-headline;
        font-size: 2.5em;
      }
    }

    &.center {
      .title {
        .tri-small {
          margin-bottom: 3em;
        }
      }

      .description {
        align-self: flex-end;
      }
    }

    &.top {
      .title {
        .tri-small {
          margin-top: 3em;
        }
      }

      .description {
        align-self: flex-start;
      }
    }

    h2 {
      margin: 0;
    }

    .title, .description {
      width: 50%;
    }

    .description {
      p {
        &:first-child {
          margin-top: 0;
        }
      }

      h3 {
        font-family: $type-content;
        font-size: 1.25em;
        margin: 0 0 $lg-space;
      }
    }
  }
}
