.row {
  flex-direction: row;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
  }

  &-spread {
    justify-content: space-between;
  }
}

.feature {
  &.light {
    background-color: $light1;
  }
}

.feature-width {
  margin-right: 50px;
  margin-left: 50px;
}

.feature-height {
  height: 80vh;
  max-height: 650px;
}

.section-divider {
  width: $content-width;
  margin: 0 auto;
  height: 1px;
  background-color: $primary;
  position: absolute;
  bottom: 0;
}

.columns {
  display: inline-flex;
  align-items: flex-start;

  .column {
    flex: 1;
    background: $grey3;
    overflow: hidden;
  }
}
